
# Ignore RUNable folder
[Rr]un

# Build output folders
[Rr]elease*
[Pp]rofile*
[Ii]nternal*
[Dd]ebug*
[Hh]ybrid*
[Ee]nglish
[Ff]rench
[Gg]erman
[Ss]panish
Max4Release
Max4Hybrid

# Explicitly ignore these as the depo already contains prebuilt 3rd party .lib files
/Code/gameengine/Lib/GameEngine.lib
/Code/gameengine/Lib/GameEngineDebug.lib
/Code/gameengine/Lib/GameEngineInternal.lib
/Code/gameengine/Lib/GameEngineProfile.lib
/Code/gameenginedevice/Lib/GameEngineDevice.lib
/Code/gameenginedevice/Lib/GameEngineDeviceDebug.lib
/Code/gameenginedevice/Lib/GameEngineDeviceInternal.lib
/Code/gameenginedevice/Lib/GameEngineDeviceProfile.lib
/Code/Libraries/Lib/Benchmark.lib
/Code/Libraries/Lib/BenchmarkD.lib
/Code/Libraries/Lib/EABrowserDispatch.lib
/Code/Libraries/Lib/EABrowserDispatchD.lib
/Code/Libraries/Lib/EABrowserDispatchI.lib
/Code/Libraries/Lib/GameSpyHTTP.lib
/Code/Libraries/Lib/GameSpyHTTPDebug.lib
/Code/Libraries/Lib/GameSpyHTTPInternal.lib
/Code/Libraries/Lib/GameSpyPatching.lib
/Code/Libraries/Lib/GameSpyPatchingDebug.lib
/Code/Libraries/Lib/GameSpyPatchingInternal.lib
/Code/Libraries/Lib/GameSpyPeer.lib
/Code/Libraries/Lib/GameSpyPeerDebug.lib
/Code/Libraries/Lib/GameSpyPeerInternal.lib
/Code/Libraries/Lib/GameSpyPresence.lib
/Code/Libraries/Lib/GameSpyPresenceDebug.lib
/Code/Libraries/Lib/GameSpyPresenceInternal.lib
/Code/Libraries/Lib/GameSpyStats.lib
/Code/Libraries/Lib/GameSpyStatsDebug.lib
/Code/Libraries/Lib/GameSpyStatsInternal.lib
/Code/Libraries/Lib/ww3d2.lib
/Code/Libraries/Lib/ww3d2Debug.lib
/Code/Libraries/Lib/ww3d2DebugE.lib
/Code/Libraries/Lib/ww3d2DebugW3D.lib
/Code/Libraries/Lib/ww3d2Internal.lib
/Code/Libraries/Lib/ww3d2Profile.lib
/Code/Libraries/Lib/ww3d2ProfileE.lib
/Code/Libraries/Lib/WWDebug.lib
/Code/Libraries/Lib/WWDebugDebug.lib
/Code/Libraries/Lib/WWDebugDebugW3D.lib
/Code/Libraries/Lib/WWDebugInternal.lib
/Code/Libraries/Lib/WWDebugProfile.lib
/Code/Libraries/Lib/WWDownload.lib
/Code/Libraries/Lib/WWDownloadDebug.lib
/Code/Libraries/Lib/WWDownloadInternal.lib
/Code/Libraries/Lib/WWLib.lib
/Code/Libraries/Lib/WWLibdebug.lib
/Code/Libraries/Lib/WWLibdebugW3D.lib
/Code/Libraries/Lib/WWLibInternal.lib
/Code/Libraries/Lib/WWLibProfile.lib
/Code/Libraries/Lib/WWMath.lib
/Code/Libraries/Lib/WWMathDebug.lib
/Code/Libraries/Lib/WWMathDebugW3D.lib
/Code/Libraries/Lib/WWMathInternal.lib
/Code/Libraries/Lib/WWMathProfile.lib
/Code/Libraries/Lib/WWSaveLoad.lib
/Code/Libraries/Lib/WWSaveLoadDebug.lib
/Code/Libraries/Lib/WWSaveLoadDebugE.lib
/Code/Libraries/Lib/WWSaveLoadDebugW3D.lib
/Code/Libraries/Lib/WWSaveLoadInternal.lib
/Code/Libraries/Lib/WWSaveLoadProfile.lib
/Code/Libraries/Lib/WWSaveLoadProfileE.lib
/Code/Libraries/Lib/WWShade.lib
/Code/Libraries/Lib/WWShadeDebug.lib
/Code/Libraries/Lib/WWShadeDebugW3D.lib
/Code/Libraries/Lib/WWShadeInternal.lib
/Code/Libraries/Lib/WWShadeProfile.lib
/Code/Libraries/Lib/WWUtil.lib
/Code/Libraries/Lib/WWUtilDebug.lib
/Code/Libraries/Lib/WWUtilDebugW3D.lib
/Code/Libraries/Lib/WWUtilInternal.lib
/Code/Libraries/Lib/WWUtilProfile.lib

# Generated files
BrowserDispatch_i.c
BrowserDispatch.h
BrowserDispatch.tlb

# Generated shader headers
*.vsh_code.h
*.psh_code.h

# Visual C++ files
*.ncb
*.opt
*.plg
